.hidden{
    display: none;
}

.ng-cloak {
    display: none;
}

.jiraImportView-project-img{

}

.jiraImportView-project-img img{
    height: 40px;
    width: 40px;
}

.jiraImportView-projcet-id{

}

.jiraImportView-projcet-name{

}

.jiraImportView-projcet-key{

}

.jiraImportView-projcet-amountIssues{

}

.jiraImportView-serverUrl{

}

.jiraImportView-projcet-description{

}

.jiraImportView-table{

}

.jiraImportView-icon{

}

.jiraImportView-id{

}

.jiraImportView-name{

}

.jiraImportView-count{

}

.jiraImportView-descriptino{

}

.confluenceImportView{
    max-height: 80%;
    overflow-y: auto;
}

.confluenceImportView .wikiPageTree input[type='checkbox']{
    margin-top: 1px;
    float: left;
}

.confluenceImportView .wikiPageTree span{
    margin-left: 15px;
}

.confluenceImportView .wikiPageTree span.folder{
    padding-left: 18px;
}

.confluenceImportView .wikiPageTree .empty{
    margin-top: -9px;
}

.jiraImportView-metaInfo{
    margin-right: 10px;
}

.jiraImportView-metaInfo span:first-child{
    font-weight: bold;
    margin-right: 5px;
}

.jiraImportView-project{
    padding: 3px 7px 2px 25px;
}

.confluenceImportView-metaInfo{
    margin-right: 10px;
}

.confluenceImportView-metaInfo span:first-child{
    font-weight: bold;
    margin-right: 5px;
}

.filetree span.folder{
    background-size: 14px 14px;
}

#components_filterType td label{
    margin-right: 10px;
}

#components_filterType td label:hover{
    background-color: #EEEEEE;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #d8d8d8;
}

.bootbox-component-addItem{
    width: 80%;
    left: 0;
    margin-left: 10%;
}