.jiraImportView-project-img{

}

.jiraImportView-project-img img{
    height: 40px;
    width: 40px;
}

.jiraImportView-projcet-id{

}

.jiraImportView-projcet-name{

}

.jiraImportView-projcet-key{

}

.jiraImportView-projcet-amountIssues{

}

.jiraImportView-serverUrl{

}

.jiraImportView-projcet-description{

}

.jiraImportView-table{

}

.jiraImportView-icon{

}

.jiraImportView-id{

}

.jiraImportView-name{

}

.jiraImportView-count{

}

.jiraImportView-descriptino{

}

.confluenceImportView{
    max-height: 80%;
    overflow-y: auto;
}

.confluenceImportView .wikiPageTree input[type='checkbox']{
    margin-top: 1px;
    float: left;
}

.confluenceImportView .wikiPageTree span{
    margin-left: 15px;
}

.confluenceImportView .wikiPageTree span.folder{
    padding-left: 18px;
}

.confluenceImportView .wikiPageTree .empty{
    margin-top: -9px;
}