/************* use sprite *****************/
.smallIcons li, .smallIcons .ddTitleText{
	/* .smallIcons .ddTitle .ddTitleText  - this will be used when option is selected */
    background: url(../img/jquery.msdropdown/icons/sprite.gif) no-repeat;
    padding-left:27px !important;
}
.smallIcons .calendar {
	background-position:0 -396px;
}
.smallIcons .shoppingcart {
	background-position:0 -325px;
}
.smallIcons .cd {
	background-position:0 -433px;
}
.smallIcons .email{
	background-position:0 -249px;
}
.smallIcons .faq {
	background-position:0 -176px;
}
.smallIcons .games{
	background-position:0 -358px;
}
.smallIcons .music {
	background-position:0 -139px;
}
.smallIcons .phone {
	background-position:0 -103px;
}
.smallIcons .graph {
	background-position:0 -66px;
}
.smallIcons .secured {
	background-position:0 -31px;
}
.smallIcons .video {
	background-position:0 7px;
}
/*******************************/
